@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Open+Sans+Condensed:300,300italic,700);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
	background: #f0f1eb;
	background-color: #f0f1eb;
}

.reveal {
	font-family: "Open Sans", "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 36px;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: #221f1f;
}

::selection {
	color: white;
	background: #26351c;
	text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: 0 0 36px 0;
	color: #383d3d;
	font-family: "Open Sans Condensed", "Helvetica Neue", Arial, Helvetica, sans-serif;
	line-height: 1.1em;
	text-transform: none;
	text-shadow: none;
}

.reveal h1 {
	text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
	color: #075293;
	text-decoration: none;
	-webkit-transition: color .15s ease;
	-moz-transition: color .15s ease;
	-ms-transition: color .15s ease;
	-o-transition: color .15s ease;
	transition: color .15s ease;
}

.reveal a:not(.image):hover {
	color: #8b7c69;
	text-shadow: none;
	border: none;
}

.reveal .roll span:after {
	color: #fff;
	background: #25211c;
}



/*********************************************
 * CONTENT
 *********************************************/

.reveal section p {
	margin-bottom: 18px;
}

.reveal section li {
	margin-bottom: 18px;
}
.reveal section li ul,
.reveal section li ol {
	margin-top: 18px;
}

.reveal dl {
	margin-bottom: 20px;
	*zoom: 1;
	width: 100%;
	font-size: 90%;
}

.reveal dt, .reveal dd {
	line-height: 1.1em;
	border-top: 1px solid rgba(0,0,0,0.2);
	margin-bottom: 18px;
	padding-top: 18px;
}

.reveal dt:nth-child(1), .reveal dd:nth-child(2) {
	border-top: none;
}

.reveal dl:before, .reveal dl:after {
	display: table;
	line-height: 0;
	content: "";
}

.reveal dl:after {
	clear: both;
}

.reveal dt {
	font-weight: bold;
	float: left;
	width: 10em;
	clear: left;
	text-align: right;
}

.reveal dd {
	margin-left: 10em;
	padding-left: 27px;
	text-align: left;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
	margin: 15px 0px;
	-webkit-transition: all .2s linear;
	-moz-transition: all .2s linear;
	-ms-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.reveal a:hover img {
	background: rgba(255, 255, 255, 0.2);
	border-color: #075293;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
	border-right-color: #075293;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
	border-left-color: #075293;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
	border-bottom-color: #075293;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
	border-top-color: #075293;
}

.reveal .controls div.navigate-left.enabled:hover {
	border-right-color: #8b7c69;
}

.reveal .controls div.navigate-right.enabled:hover {
	border-left-color: #8b7c69;
}

.reveal .controls div.navigate-up.enabled:hover {
	border-bottom-color: #8b7c69;
}

.reveal .controls div.navigate-down.enabled:hover {
	border-top-color: #8b7c69;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
	background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
	background: #075293;
	-webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	-o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
	transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/*********************************************
 * LOGO
 *********************************************/
#logo {
	width: 20%;
	min-width: 200px;
	position: absolute;
	right: 150px;
	bottom: 25px;
}